@model RoleFormViewModel
<form asp-action="Add" class="mb-3">
    <div class="input-group w-100">

        <input class="form-control" asp-for="Name" placeholder="Add new role..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Add new role</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>
