@model Order
@{
    SelectList orderstatus = new SelectList(ViewBag.OrderStatus, "Id", "Name");

}

<h1>Change Order Status</h1>
<form asp-action="Status" method="post">

    <div class="form-group">
        <label asp-for="OrderStateId" class="control-label"></label>

        <select asp-for="OrderStateId" asp-items="orderstatus" class="form-control" asp-disabled="@(Model.OrderStateId == 3)">
            </select>
            <span asp-validation-for="OrderStateId" class="text-danger"></span>
 
        
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>