@{
    ViewData["Title"] = "Home Page";
}
<div class="continer ">
    <div class="row text-center justify-content-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/img/home.jpg" class="img-fluid" />
    </div>
</div>
