@model Governorate
@{
    ViewData["Title"] = "Create";
}

<h1>Add Governorate</h1>

<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2"><i class="fa-solid fa-house"></i> ><a asp-action="Index" class="text-decoration-none">Governorates</a> > <b><a asp-action="create" class="text-decoration-none">Add Governorate</a></b></h6>
        </div>
    </div>
</div>

<hr />

<form method="post" asp-action="Create">
    @Html.AntiForgeryToken()
@*    <input class="form-control" asp-for="Id" hidden="" />*@
    <div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" value="Create" class="btn btn-primary my-3" >Add</button>
</form>
