@page
@model AccessDeniedModel

@{

    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_MyLayout.cshtml";

}

<div class="container">
    <div class="row justify-content-center align-items-center pt-2">
        <img src="~/img/403-error.png" class="img-fluid object-fit-cover" style="height:580px"  />
    </div>
</div>






