@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";    

}

@*<h1>@ViewData["Title"]</h1>
*@
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0 ">
                <!-- Nested Row within Card Body -->
                <div class="row px-5">
                    <div class="col-lg-6  overflow-hidden  d-none d-lg-block bg-login-image"><img class="object-fit-cover " src="~/img/bg-login.png" height="550px" width="447" /></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="user" id="account" method="post">
                                <div class="form-group">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <input type="email" asp-for="Input.Email" class="form-control form-control-user"
                                           id="exampleInputEmail" aria-describedby="emailHelp"
                                           placeholder="Enter Email Address...">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Input.Password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input  class="custom-control-input" id="customCheck">

                                        <label class="custom-control-label" for="customCheck">
                                        Remember
                                        Me
                                        </label>
                                    </div>
                                </div>
                                <button id="login-submit" type="submit" class="btn btn-primary btn-user btn-block">Log in</button>

                                
                               <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@

