@model UserFormViewModel

@{
    ViewData["Title"] = "Create new user";
    SelectList roleItems = new SelectList(Model.Roles, "Name", "Name");
    SelectList branchItems = new SelectList(Model.Branches, "Id", "Name");
}

<h1>Add user</h1>

<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2"><i class="fa-solid fa-house"></i> ><a asp-action="Index" class="text-decoration-none">Users</a> > <b><a asp-action="create" class="text-decoration-none">Add User</a></b></h6>
        </div>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="BranchId" class="control-label"></label>
                    <select asp-for="BranchId" asp-items="branchItems" class="form-control">
                        <option value="">-- Select Branch --</option>
                    </select>
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label asp-for="RoleName" class="control-label">Role</label>
                    <select asp-for="RoleName" asp-items="roleItems" class="form-control">
                        <option value="">-- Select Role --</option>
                    </select>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12 mt-4">
                    <button type="submit" value="Create" class="btn btn-primary" >Add</button>
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>

                </div>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
